# Java
*.class
*.jar
*.war
*.ear
**/build/

*.DS_Store

# Gradle
.gradle/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
*-service/build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Others
*-R

**/db/